*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/imagenes/fondo-flex.jpg);
    object-fit: contain;
    background-size: 100vw 100vh;
}
.imagenes img{
    width: 14vw;
}
.alto{
    height: 51.3vh; width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 90%;
    margin-left: 5%;
}
.bajo{
    height: 50vh; width: 100vw;
    margin-top: -3.8vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.imagenB:nth-of-type(1){
    width: 11vw;
}
.imagenB:nth-of-type(2){
    align-self: flex-end;
    width: 12vw;
}